SITE_TITLE=Neth-Express-Api-TS

ADDRESS=localhost
PORT=4000
API_NAME=api
# Since nodejs will run behind an nginx proxy, this affects the swagger documentation and welcome message when NODE_ENV='production'
PRODUCTION_HOST=https://neth-api-gen.myserver.com

MONGODB_URL=mongodb://localhost:27017/nethexpressapits

SECRET=YOURSECRETHERE
JWT_EXPIRATION=7
ADMIN_EMAIL=admin@admin.com
ADMIN_NAME=JOHNADMIN
ADMIN_PASSWORD=qwerty

# local|do|aws ,local for file system or do (Digitaloceanspaces) or aws (AWS S3)
UPLOAD_PROVIDER=local
UPLOAD_PROVIDER_FOLDER=uploads

# Following Parameters are necessary if 'UPLOAD_PROVIDER=do' or 'UPLOAD_PROVIDER=aws'
UPLOAD_PROVIDER_BUCKET=YOURBUCKETNAMEHERE
UPLOAD_PROVIDER_ENDPOINT=YOURPROVIDERENDPOINTHERE
UPLOAD_PROVIDER_KEY=YOURPROVIDERKEYHERE
UPLOAD_PROVIDER_SECRET=YOURPROVIDERSECRETKEY
