ADDRESS=localhost
PORT=4000
MONGODB_URL=mongodb://localhost:27017/nethexpressapits
ELASTIC_URL=localhost:9200
SECRET=YOURSECRETHERE
JWT_EXPIRATION=7
ADMIN_EMAIL=admin@admin.com
ADMIN_NAME=JOHNADMIN
ADMIN_PASSWORD=qwerty


UPLOAD_PROVIDER=local|do|aws # local for file system or do (Digitaloceanspaces) or aws (AWS S3)
UPLOAD_PROVIDER_FOLDER=uploads

##Following Parameters are necessary if 'UPLOAD_PROVIDER=do' or 'UPLOAD_PROVIDER=aws'
UPLOAD_PROVIDER_BUCKET=YOURBUCKETNAMEHERE
UPLOAD_PROVIDER_ENDPOINT=YOURPROVIDERENDPOINTHERE
UPLOAD_PROVIDER_KEY=YOURPROVIDERKEYHERE
UPLOAD_PROVIDER_SECRET=YOURPROVIDERSECRETKEY
