#login-loader svg {
  width: 256px;
  margin: 0 auto;
}

.login-animation #leftBracket {
  animation: leftBracketAnimation 0.5s 1 forwards;
}

.login-animation #rightBracket {
  animation: rightBracketAnimation 0.5s 1 forwards;
}

.login-animation #slash {
  animation: slashAnimation 0.5s 1 forwards;
}

@keyframes rightBracketAnimation {
  to {
    transform: translate(-128px) rotateZ(90deg);
  }
}

@keyframes leftBracketAnimation {
  to {
    transform: translateX(120px) rotateZ(90deg);
  }
}

@keyframes slashAnimation {
  to {
    transform: rotateZ(-60deg);
  }
}
