{
  "name": "neth-ng",
  "version": "0.3.5",
  "keywords": [
    "Angular",
    "Material",
    "Data Tables",
    "Material",
    "Admin Panel",
    "Rest Api"
  ],
  "author": "Netherium",
  "license": "MIT",
  "repository": {
    "type": "git",
    "url": "https://github.com/Netherium/neth-ng.git"
  },
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build --configuration production --optimization",
    "watch": "ng build --watch --configuration development",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e",
    "build:stats": "ng build --stats-json",
    "analyze:stats": "webpack-bundle-analyzer ./dist/neth-ng/stats.json"
  },
  "private": false,
  "dependencies": {
    "@angular/animations": "~12.2.0",
    "@angular/cdk": "~12.2.0",
    "@angular/common": "~12.2.0",
    "@angular/compiler": "~12.2.0",
    "@angular/core": "~12.2.0",
    "@angular/forms": "~12.2.0",
    "@angular/material": "~12.2.0",
    "@angular/material-moment-adapter": "~12.2.0",
    "@angular/platform-browser": "~12.2.0",
    "@angular/platform-browser-dynamic": "~12.2.0",
    "@angular/router": "~12.2.0",
    "@angular/service-worker": "~12.2.0",
    "jwt-decode": "^3.1.2",
    "moment": "^2.27.0",
    "rxjs": "~6.6.6",
    "tslib": "^2.1.0",
    "zone.js": "~0.11.4"
  },
  "devDependencies": {
    "@angular-devkit/build-angular": "~12.2.0",
    "@angular-eslint/builder": "~12.2.0",
    "@angular-eslint/eslint-plugin": "~12.2.0",
    "@angular-eslint/eslint-plugin-template": "~12.2.0",
    "@angular-eslint/schematics": "~12.2.0",
    "@angular-eslint/template-parser": "~12.2.0",
    "@angular/cli": "~12.2.0",
    "@angular/compiler-cli": "~12.2.0",
    "@types/jasmine": "~3.6.0",
    "@types/node": "^12.20.7",
    "@typescript-eslint/eslint-plugin": "4.23.0",
    "@typescript-eslint/parser": "4.23.0",
    "eslint": "^7.26.0",
    "jasmine-core": "~3.7.0",
    "karma": "~6.3.0",
    "karma-chrome-launcher": "~3.1.0",
    "karma-coverage": "~2.0.3",
    "karma-jasmine": "~4.0.0",
    "karma-jasmine-html-reporter": "^1.5.0",
    "typescript": "~4.2.4",
    "webpack-bundle-analyzer": "^4.4.2"
  }
}
