<div class="d-flex flex-column align-items-center justify-content-center" style="width: 100vw;height: 100vh;">
  <img alt="Neth Logo" src="assets/logo.png">
  <h1>Oops! Page was not found!</h1>
  <a color="primary" mat-raised-button routerLink="/">Back to home</a>
</div>
